body {
    background-color: #1E1E1E;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.head {
    text-align: center;
    width: 400px;
}

h1 {
    font-family: "Racing Sans One", serif;
    font-size: 24px;
    font-weight: 300;
}

.input {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: #ddd;
}

.add-btn {
    font-family: "Racing Sans One", serif;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    background: #444;
    color: white;
    cursor: pointer;
}

.add-btn:hover {
    background: #666;
}

.task-lista {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.task-lista li {
    background: #111;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.deletar-btn {
    background: #999999;
    border: none;
    border-radius: 7px;
    color: #222222;
    font-size: 15px;
    cursor: pointer;
}

.deletar-btn:hover {
    color: white;
}
